<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar color="dark">
			<ion-title>Menú</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<ion-list-header>Favoritos</ion-list-header>
			<button menuClose ion-item *ngFor="let fav of favoriteTeams" (click)="teamTapped($event, fav)">
				{{fav.name}} {{fav.label}} <p>{{fav.category}} {{fav.league}}</p>
			</button>
			<button menuClose ion-item *ngFor="let fav of favoriteLeagues" (click)="leagueTapped($event, fav)">
				{{fav.name}} <p>{{fav.category}}</p>
			</button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>