<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar color="dark">
			<ion-title>Menú</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<ion-list-header class="sideMenuHeader">Cuenta</ion-list-header>
			<button menuClose ion-item (click)="logInTapped()" *ngIf="!user"><ion-icon item-left name="log-in"></ion-icon> Entra</button>
			<button menuClose ion-item (click)="userTapped()" *ngIf="user"><ion-icon item-left name="contact"></ion-icon> Perfil</button>
			<button menuClose ion-item (click)="logOutTapped()" *ngIf="user"><ion-icon item-left name="log-out"></ion-icon> Salir</button>
			<button menuClose ion-item (click)="signInTapped()" *ngIf="!user"><ion-icon item-left name="person-add"></ion-icon> Regístrate</button>
		</ion-list>
		<ion-list>
			<ion-list-header class="sideMenuHeader">Equipos y Ligas</ion-list-header>
			<button menuClose full ion-item (click)="goToAllTeams()">Equipos <ion-icon item-left name="search"></ion-icon></button>
			<button menuClose full ion-item (click)="goToAllLeagues()">Ligas <ion-icon item-left name="search"></ion-icon></button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>