teamsPage{

	.item-accordion {
		padding-top: 0;
		padding-bottom: 0;
		//transition: 0.09s all linear;
		transition: height linear 2s;
	}
	.item-accordion.ng-hide {
		line-height: 0px;
	}
	.item-accordion.ng-hide-add, .list .item-accordion.ng-hide-remove {
		display: block !important;
	}

	.loading-wrapper{
		width: 250px;
		height: 75px;
		opacity: 0.85;
		border-radius: 5px;
	}

	#showIcon{
		float: right;
		margin-right: 2%;
		font-size: 1.75em;
	}

}