<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
		<ion-title>Equipos</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="goHome()"><ion-icon name="home"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar>
		<ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionInput)="updateTeams()"></ion-searchbar>
	</ion-toolbar>

</ion-header>

<ion-content>
	<ion-list>
		<ion-item-group *ngFor="let club of clubs">
			<ion-item-divider class="item-stable" color="secondary">
				<span (click)="clubTapped($event, club)">{{club?.name}}</span>
				<ion-icon id="showIcon" [name]="showTeams(club) ? 'arrow-round-up' : 'arrow-round-down'" (click)="toogleShowTeams(club)"></ion-icon>
			</ion-item-divider>
			<button ion-item class="item-accordion" [hidden]="!showTeams(club)" *ngFor="let team of club?.teams" (click)="teamTapped($event, team)">
                 {{team.category}} {{team.label}}<p>{{team?.league?.name}}</p>
            </button>
		</ion-item-group>
	</ion-list>
</ion-content>