<ion-header>
	<ion-navbar>
		<ion-title></ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="refreshAll($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-card>
		<ion-card-content>
			<ion-row>
				<ion-col width-45>
					<h2>{{team?.league?.name}}</h2>
					<p>Posición: {{teamPos}}º</p>
				</ion-col>
				<ion-col width-55 text-right>
					<button ion-button (click)="toggleFollow()" *ngIf="!isFollowing">
						Seguir
                    </button>
					<button ion-button (click)="toggleFollow()" *ngIf="isFollowing">
                        <ion-icon name="star"></ion-icon>
						Siguiendo
                    </button>
				</ion-col>
			</ion-row>
			<ion-item>
				<ion-label>Filtrar por fecha:</ion-label>
				<ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChange()"></ion-toggle>
				<ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" [(ngModel)]="dateFilter" (ionChange)="dateChange()" [(disabled)]="!useDateFilter"></ion-datetime>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-list>
		<ion-item *ngFor="let game of games; let i=index;" [id]="i" (click)="gameTapped($event, game)">
			<p>Jornada {{game?.fixture}}</p>
			<ion-row>
				<ion-col width-30>
					<p>{{game?.date}}</p>
					<p>{{game?.time}}</p>
				</ion-col>
				<ion-col>
					<ion-row width-40>{{game?.host | customPipe}}</ion-row>
					<ion-row>{{game?.guest | customPipe}}</ion-row>
				</ion-col>
				<ion-col width-10>
					<ion-row>{{game?.hostGoals | customPipe}}</ion-row>
					<ion-row>{{game?.guestGoals | customPipe}}</ion-row>
				</ion-col>
				<ion-col width-10>
					<ion-row>
						<ion-badge [color]="getGoalsDisplayBadgeClass(game)">{{game?.goalsDisplay}}</ion-badge>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>