<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
		<ion-title>Las Palmas Fútbol</ion-title>
		<ion-buttons end>
			<button ion-button icon-only><ion-icon name="home"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list *ngIf="favoriteTeams.length>0">
		<ion-item-divider icon-right color="light">	
			Equipos Favoritos
		</ion-item-divider>
		<button ion-item icon-left *ngFor="let team of favoriteTeams" (click)="teamTapped($event, team)">
			<ion-icon name="star"></ion-icon>
			{{team?.name}} {{team?.label}}
			<p>{{team?.league?.name}}</p>
		</button>
	</ion-list>
		<ion-card *ngIf="favoriteTeams.length==0">
			<ion-card-header>Equipos Favoritos</ion-card-header>
			<ion-card-content>
				<h3>Actualmente no sigues a ningún equipo</h3>
			</ion-card-content>
		</ion-card>

	<ion-list *ngIf="favoriteLeagues.length>0">
		<ion-item-divider color="light">	
			Ligas Favoritas
			
		</ion-item-divider>
		<button ion-item icon-left *ngFor="let league of favoriteLeagues" (click)="leagueTapped($event, league)">
			<ion-icon name="star"></ion-icon> 
			{{league?.name}}
			<p>{{league?.category}}</p>
		</button>
	</ion-list>
	<ion-card *ngIf="favoriteLeagues.length==0">
		<ion-card-header>Ligas Favoritas</ion-card-header>
		<ion-card-content>
			<h3>Actualmente no sigues a ninguna liga</h3>
			<!--<button full ion-button (click)="goToAllLeagues()">
				Ligas <ion-icon icon-right name="search" style="margin-left: 2%"></ion-icon>
			</button>-->
		</ion-card-content>
	</ion-card>
	
</ion-content>