teamHomePage {

	.loadingwrapper{
		width: 77% !important;
		height: 15% !important;
		color: black !important;
		font-size: 1.25em !important;
		background-color: aliceblue !important;
		border-radius: 10px !important;
	}
	
}
